@import "tailwindcss";


html,
body{
    background-color: #05101c;
    color: white;
    font-family: "Roboto slab", serif;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate{
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(359deg);
  }
}
